
resource_name: randomplayer

replicas: 3

image:
  repository: polaris://rev-randomplayer
  tag: 1.0.0
  pullPolicy: Always

environment:
  kafka_bootstrap_servers: polaris-kafka-cp-kafka.default:9092

resources:
  requests:
    cpu: 250m
    memory: "256Mi"
  limits:
    cpu: 1000m
    memory: "512Mi"